<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%-include('partials/navbar')%>

<%data.forEach((item)=>{  %>
      <div style="margin-top: 10px; border: 3px solid gray; border-radius: 10px; width: 200px; text-align: center; padding: 10px;">
         <img src="<%=item._id%>.<%=item.image.split('.').pop()%>" style="max-height: 150px; width: 150px;" alt="">
         <h1>Name:<%=item.name%></h1>

         <a href="/edit/<%=item._id%>">Edit</a>
         <form action="/delete/<%=item._id%>" method="post">
            <input type="submit" value="Delete">
        </form>

      </div>

     
<%})%>

</body>
</html>